<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="https://ai4chat-files.s3.amazonaws.com/images/airbrush/image-1737741097321.jpg">
    <title>404 - Page Not Found - Airbrush</title>
		<meta name="description" content="We couldn't find this page, try visiting the homepage at www.airbrush.ai">
		<meta name="robots" content="index, follow">
		
		<!-- FB meta tags -->
		<meta property="og:title" content="404 - Page Not Found - Airbrush AI">
		<meta property="og:description" content="We couldn't find this page, try visiting the homepage at www.airbrush.ai">
		<meta property="og:image" content="https://i.postimg.cc/x8Hy7mQ9/Screenshot-297.png">
		<meta property="og:url" content="https://www.airbrush.ai">
		
		<!-- Twitter meta tags -->
		<meta name="twitter:title" content="404 - Page Not Found - Airbrush AI">
		<meta name="twitter:description" content="We couldn't find this page, try visiting the homepage at www.airbrush.ai">
		<meta name="twitter:image" content="https://i.postimg.cc/x8Hy7mQ9/Screenshot-297.png">



    <!-- bootstrap min css -->
    <link rel="stylesheet preload" href="/css/plugins/fontawesome-6.css" as="style">
    <link rel="stylesheet preload" href="/css/plugins/unicons.css" as="style">
    <link rel="stylesheet preload" href="/css/plugins/swiper.min.css" as="style">
    <link rel="stylesheet preload" href="/css/vendor/metismenu.css" as="style">
    <link rel="stylesheet preload" href="/css/vendor/bootstrap.min.css" as="style">
    <!-- custom css style -->
    <link rel="stylesheet preload" href="/css/style.css" as="style">
</head>

<body class="dark-version">

    <!-- rts header area start -->
        {{> desktop-menu}}
    <!-- rts header area end -->

<!-- rts breadcrumb area start-->
    <div class="rts-bread-crumb-area bg_image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inne">
                        <div class="title-area">
                            <h1 class="bread-title">404 - Page Not Found</h1>
                            <div class="inner-wrapper">
                                <a href="https://www.airbrush.ai">Home</a>/
                                <a href="#" class="active">Page Not Found</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts breadcrumb area end -->
<style>
.flex-app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.app-btn {
  width: 45%;
  max-width: 220px;
  color: #fff;
  margin: 20px 10px;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Lucida Grande", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px #3996fb solid;
  padding: 10px 10px;
}

.app-btn.blu {
  background-color: #101010;
  transition: background-color 0.25s linear;
}

.app-btn.blu:hover {
  background-color: #454545;
}

.app-btn i {
  width: 20%;
  text-align: center;
  font-size: 36px;
  margin-right: 7px;
}

.app-btn .big-txt {
  font-size: 25px;
  text-transform: capitalize;
}

/* Media query for screens below 768 pixels */
@media screen and (max-width: 768px) {
  .flex-app {
    flex-direction: column; /* Stack children vertically */
  }

  .app-btn {
    width: 90%; /* Adjust the button width to take more space */
    margin: 7px auto; /* Center the buttons horizontally */
  }
  
  .app-btn i {
    margin-bottom: 7px; /* Add space below the icon */
  }
  
  .app-btn span {
    margin-top: 7px; /* Add space above the text */
  }
}


</style>

    <!-- rts not found area start -->
    <div class="rts-not-found-area rts-section-gap bg-smooth-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="thumbanail-404 text-center">
                        <img src="/images/case/03.png" alt="not-found">
                        <div class="wrapper-para mt--45">
                            <h3 class="title">Page Not Found</h3>
                            <p class="disc">
                                We're sorry, the page you requested could not be found <br> Please go back to the homepage
                            </p>
                            <a href="https://www.airbrush.ai/" class="rts-btn btn-primary">Click here to go to the homepage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts not found area end -->



    <!-- rts faq area stat -->
    {{> faq}}
    <!-- rts faq area end -->
		
		<!-- app links start -->
	{{> apps}}
		<!-- app links end -->

    <!-- cta area start -->
    {{> cta}}
    <!-- cta area end -->
    


    <!-- rts footer area start -->
    {{> footer}}
    <!-- rts footer area end -->



    <div id="anywhere-home" class="">
    </div>

    

    <!-- header style two -->
    <div id="side-bar" class="side-bar header-two" style="background-color: #151f39;">
        <button class="close-icon-menu"><i class="far fa-times"></i></button>

        <!-- mobile menu area start -->
        <div class="mobile-menu-main">
            <nav class="nav-main mainmenu-nav mt--30">
                <ul class="mainmenu metismenu" id="mobile-menu-active">
                    
										<li class="parent"><a class="main" href="use-cases" style="color: #f3f3f3; border-bottom: 1px solid #f3f3f3">Use Cases</a></li>
										<li class="parent"><a class="main" href="features" style="color: #f3f3f3; border-bottom: 1px solid #f3f3f3">Features</a></li>
										<li class="parent"><a class="main" href="pricing" style="color: #f3f3f3; border-bottom: 1px solid #f3f3f3">Pricing</a></li>
										<li class="parent"><a class="main" href="tutorials" style="color: #f3f3f3; border-bottom: 1px solid #f3f3f3">Tutorials</a></li>
										<li class="parent"><a class="main" href="faq" style="color: #f3f3f3; border-bottom: 1px solid #f3f3f3">FAQ</a></li>
                </ul>
            </nav>
						
						<!-- app links start -->
						<div class="flex-app social-btns">
							<a class="app-btn blu flex-app vert" href="#">
								<i class="fab fa-apple"></i>
								<span>Available on the <br/> <span class="big-txt">App Store</span></span>
							</a>

							<a class="app-btn blu flex-app vert" href="#">
								<i class="fab fa-google-play"></i>
								<span>Get it on <br/> <span class="big-txt">Google Play</span></span>
							</a>
					
					
						</div>
						<!-- app links end -->

            <div class="rts-social-style-one pl--20 mt--100">
                <ul>
                    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a></li>
                                        <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                        <li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- mobile menu area end -->
    </div>
    <!-- header style two End -->


    <!-- rts backto top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
    <!-- rts backto top end -->


    <script src="/js/vendor/jquery.min.js" defer></script>
    <script src="/js/vendor/metismenu.js" defer></script>
    <script src="/js/plugins/bootstrap.min.js" defer></script>
    <script src="/js/plugins/swiper.js" defer></script>
    <script src="/js/plugins/contact.form.js" defer></script>
    <script src="/js/main.js" defer></script>

</body>



</html>