<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://ai4chat-files.s3.amazonaws.com/images/airbrush/image-1737741097321.jpg">
    <title>Airbrush - Best AI Art, Image & Stock Photo Generator</title>
    <meta name="description"
        content="With Airbrush's AI technology, you can create original stock photos, NFTs, art, and more - in just seconds.">
    <meta name="robots" content="index, follow">

    <!-- FB meta tags -->
    <meta property="og:title" content="Airbrush - Best AI Art, Image & Stock Photo Generator">
    <meta property="og:description"
        content="With Airbrush's AI technology, you can create original stock photos, NFTs, art, and more - in just seconds.">
    <meta property="og:image" content="https://i.postimg.cc/x8Hy7mQ9/Screenshot-297.png">
    <meta property="og:url" content="https://www.airbrush.ai">

    <!-- Twitter meta tags -->
    <meta name="twitter:title" content="Airbrush - Best AI Art, Image & Stock Photo Generator">
    <meta name="twitter:description"
        content="With Airbrush's AI technology, you can create original stock photos, NFTs, art, and more - in just seconds.">
    <meta name="twitter:image" content="https://i.postimg.cc/x8Hy7mQ9/Screenshot-297.png">



    <!-- bootstrap min css -->
    <link rel="stylesheet preload" href="/css/plugins/fontawesome-6.css" as="style">
    <link rel="stylesheet preload" href="/css/plugins/unicons.css" as="style">
    <link rel="stylesheet preload" href="/css/plugins/swiper.min.css" as="style">
    <link rel="stylesheet preload" href="/css/vendor/metismenu.css" as="style">
    <link rel="stylesheet preload" href="/css/vendor/bootstrap.min.css" as="style">
    <!-- custom css style -->
    <link rel="stylesheet preload" href="/css/style.css" as="style">
</head>

<body class="dark-version">

    {{> desktop-menu}}

    <!-- rts breadcrumb area start-->
    <div class="rts-banner-area-one bg_image--1 bg_image rts-section-gap" style="margin-bottom: 80px;">
        <div class="mt--50 container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-section">
                        <div class="hero-section">
                            <h1 class="lh-1">
                                Generate AI-powered images - in 1 click.
                            </h1>
                            <p class="mt--40">
                                With Airbrush's AI technology, you can create original stock
                                photos, NFTs, art, and more - in just seconds.
                            </p>
                            <div style="margin-top: 50px;">
                                <a target="_blank" href="https://app.airbrush.ai/signup"
                                    class="mt-50 pl--30 pr--30 py-4 rounded-pill custom-btn">
                                    Get Started
                                </a>
                            </div>
                        </div>
                        <div class="content-section-2">
                            {{> parallax}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{> text-to-image}}

    {{> gallery}}

    {{> frog}}

    {{>use-cases}}

    {{> pricing}}

    {{> faq}}

    {{> apps}}

    {{> cta}}

    {{> footer}}


    <div id="anywhere-home" class="">
    </div>

    {{> mobile-menu}}


    <!-- rts backto top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
            </path>
        </svg>
    </div>
    <!-- rts backto top end -->


    <script type="module" src="/js/vendor/jquery.min.js" defer></script>
    <script type="module" src="/js/vendor/metismenu.js" defer></script>
    <script type="module" src="/js/plugins/bootstrap.min.js" defer></script>
    <script type="module" src="/js/plugins/swiper.js" defer></script>
    <script type="module" src="/js/plugins/contact.form.js" defer></script>
    <script type="module" src="/js/main.js" defer></script>

</body>



</html>